body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1,
p {
  margin: 1em auto; /* siehe Fußnote > CSS Units */
  text-align: center;
}

form {
  margin: 0 auto;
  width: 60vw; /* siehe Fußnote > CSS Units */
  min-width: 300px;
  max-width: 500px;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0px;
  padding-right: 0px;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid #3b3b4f;
}

input,
textarea,
select {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  border-style: solid;
  border-width: 1px;
  border-color: #0a0a23;
  color: #ffffff;
}

label {
  display: block; /* label elements are inline by default! */
  margin: 0.5rem 0; /* siehe Fußnote > CSS Units */
}

input[type="submit"] {
  display: block;
  width: 60%;
  min-width: 300px;
  height: 2em;
  margin: 1em auto 1em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

/* -------------------------------------------------------------------------------------------------------------- */

/* CSS Units */
/* https://www.w3schools.com/CSSref/css_units.asp */

/* What is REM in CSS? */
/* In CSS rem stands for “root em”, a unit of measurement that represents the font size of the root element. 
This means that 1rem equals the font size of the html element, which for most browsers has a default value of 16px. 
Using rem can help ensure consistency of font size and spacing throughout your UI. */

/* https://www.freecodecamp.org/news/what-is-rem-in-css */
/* https://www.sitepoint.com/understanding-and-using-rem-units-in-css */
